* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
a {
	text-decoration: none;
}
.container {
	width: 1200px;
	margin: 0 auto;
}

/* First-section-start */

.first-section {
	background-image: url(../images/top-banner.png);
	background-repeat: no-repeat;
}
.body-sec {
	display: flex;
}
.first-item {
	width: 50%;
	padding-top: 40px;
}
.first-item h1 {
	font-size: 50px;
	font-weight: 600;
}
.first-item h2 {
	font-size: 20px;
	font-weight: 600;
	padding: 15px 0;
}
.first-item p {
	color: dimgray;
	padding-bottom: 20px;
}

.first-item button {
	text-decoration: none;
	background: linear-gradient(45deg, lightsalmon, tomato);
	padding: 10px 40px;
	border-radius: 5px;
	font-weight: 700;
	border: none;
}
.first-item button a {
	color: white;
	font-size: 16px;
}
.first-item h1 span {
	color: orange;
}
.sec-item {
	width: 50%;
}
.sec-item img {
	width: 90%;
	margin: 10px auto;
}
/* First-section-end */

/* second-section-START */
.sec-section {
	background-image: url(../images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}
.second-section {
	display: flex;
	margin-top: 70px;
}

.second-sec-item1 {
	width: 50%;
}
.second-sec-item1 img {
	width: 85%;
	margin: 0 auto;
}
.second-sec-item2 {
	width: 50%;
	padding-top: 40px;
	padding-right: 20px;
}
.second-sec-item2 h1 {
	font-size: 50px;
	font-weight: 600;
}
.second-sec-item2 h2 {
	font-size: 20px;
	padding: 15px 0;
	font-weight: 600;
}
.second-sec-item2 p {
	color: dimgray;
	padding-bottom: 20px;
}
.second-sec-item2 button {
	text-decoration: none;
	background: linear-gradient(45deg, lightsalmon, tomato);
	padding: 10px 40px;
	border-radius: 5px;
	font-weight: 700;
	border: none;
}
.second-sec-item2 button a {
	color: white;
	font-size: 16px;
}
/* second-section-end */

/* 3rd-section-start */
.three-section {
	background-image: url(../images/exp-bg.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-top: 100px;
	height: 650px;
}
.three-section #exp {
	font-size: 50px;
	font-weight: 600;
	padding: 15px 0;
}
.exp-item {
	display: flex;
	margin-top: 20px;
}
.exp-item1 {
	width: 47%;
	box-shadow: 5px 7px 40px grey;
	height: 270px;
	padding: 50px 20px;
	margin-right: 3%;
	border-left: 7px solid tomato;
	border-radius: 5px;
}
.ex-heading {
	font-size: 35px;
	font-weight: 600;
	letter-spacing: normal;
	padding-bottom: 30px;
}
.ex-sec-h {
	font-size: 18px;
	color: orange;
	font-weight: 700;
	padding-bottom: 20px;
}
.exp-p {
	color: dimgray;
	padding-bottom: 20px;
}
.exp-item2 {
	width: 47%;
	box-shadow: 5px 7px 40px grey;
	height: 270px;
	padding: 50px 20px;
	margin-left: 3%;
	border-radius: 10px;
	border-left: 7px solid;
	border-image: linear-gradient(blue 100%, cyan 100%);
	border-image-slice: 1;
}
footer p {
	color: dimgray;
	text-align: center;
	padding-bottom: 20px;
}
/* 3rd-section-end */
