* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
a {
	text-decoration: none;
}
.container {
	width: 1200px;
	margin: 0 auto;
}

/* First-section-start */

.first-section {
	background-image: url(../images/top-banner.png);
	/* background-position: top; */
	background-repeat: no-repeat;
	/* display: flex; */
}
.body-sec {
	display: flex;
}
.first-item {
	width: 50%;
	/* border: 1px solid red; */
	padding-top: 40px;
}
.first-item h1 {
	font-size: 50px;
	font-weight: 600;
}
.first-item h2 {
	font-size: 20px;
	font-weight: 600;
	padding: 15px 0;
}
.first-item p {
	color: dimgray;
	padding-bottom: 20px;
}

.first-item button {
	text-decoration: none;
	background: linear-gradient(45deg, lightsalmon, tomato);
	padding: 10px 40px;
	border-radius: 5px;
	font-weight: 700;
	border: none;
}
.first-item button a {
	color: white;
	font-size: 16px;
}
.first-item h1 span {
	color: orange;
}
.sec-item {
	width: 50%;
	/* border: 1px solid black; */
}
.sec-item img {
	width: 90%;
	margin: 10px auto;
}
/* First-section-end */

/* second-section-START */
.sec-section {
	background-image: url(../images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}
.second-section {
	display: flex;
	margin-top: 100px;
}

.second-sec-item1 {
	width: 50%;
}
.second-sec-item1 img {
	width: 80%;
	margin: 0 auto;
}
.second-sec-item2 {
	width: 50%;
	padding-top: 40px;
	/* border: 1px solid red; */
	padding-right: 20px;
}
.second-sec-item2 h1 {
	font-size: 50px;
	font-weight: 600;
}
.second-sec-item2 h2 {
	font-size: 20px;
	padding: 15px 0;
	font-weight: 600;
}
.second-sec-item2 p {
	color: dimgray;
	padding-bottom: 20px;
}
.second-sec-item2 button {
	text-decoration: none;
	background: linear-gradient(45deg, lightsalmon, tomato);
	padding: 10px 40px;
	border-radius: 5px;
	font-weight: 700;
	border: none;
}
.second-sec-item2 button a {
	color: white;
	font-size: 16px;
}
/* second-section-end */
